@model mcbaMVC.ViewModels.ConfirmVM
@using mcbaMVC.Models

@{
    ViewData["Title"] = "Confirm " + Model.Type.ToString();
}

<div class="transaction-page">
    <div class="transaction-card">
        <h3>@ViewData["Title"]</h3>
        <hr />

        <div class="mb-3">
            @if (Model.Type == TxnType.Deposit)
            {
                <dl class="row">
                    <dt class="col-sm-4">Account</dt>
                    <dd class="col-sm-8">#@Model.AccountNumber (@Model.AccountTypeLabel)</dd>

                    <dt class="col-sm-4">Current balance</dt>
                    <dd class="col-sm-8">@Model.CurrentBalance?.ToString("C")</dd>

                    <dt class="col-sm-4">Available balance</dt>
                    <dd class="col-sm-8">@Model.AvailableBalance?.ToString("C")</dd>

                    <dt class="col-sm-4">Amount</dt>
                    <dd class="col-sm-8">@Model.Amount.ToString("C")</dd>

                    @if (!string.IsNullOrWhiteSpace(Model.Comment))
                    {
                        <dt class="col-sm-4">Comment</dt>
                        <dd class="col-sm-8">@Model.Comment</dd>
                    }
                </dl>
            }
            else if (Model.Type == TxnType.Withdraw)
            {
                <dl class="row">
                    <dt class="col-sm-4">Account</dt>
                    <dd class="col-sm-8">#@Model.AccountNumber (@Model.AccountTypeLabel)</dd>

                    <dt class="col-sm-4">Current balance</dt>
                    <dd class="col-sm-8">@Model.CurrentBalance?.ToString("C")</dd>

                    <dt class="col-sm-4">Available balance</dt>
                    <dd class="col-sm-8">@Model.AvailableBalance?.ToString("C")</dd>

                    <dt class="col-sm-4">Amount</dt>
                    <dd class="col-sm-8">@Model.Amount.ToString("C")</dd>

                    @if (!string.IsNullOrWhiteSpace(Model.Comment))
                    {
                        <dt class="col-sm-4">Comment</dt>
                        <dd class="col-sm-8">@Model.Comment</dd>
                    }
                </dl>
            }
            else
            {
                <dl class="row">
                    <dt class="col-sm-4">From</dt>
                    <dd class="col-sm-8">#@Model.FromAccountNumber (@Model.FromTypeLabel)</dd>

                    <dt class="col-sm-4">From balance</dt>
                    <dd class="col-sm-8">
                        @Model.FromCurrentBalance?.ToString("C") (Avail: @Model.FromAvailableBalance?.ToString("C"))
                    </dd>

                    <dt class="col-sm-4">To</dt>
                    <dd class="col-sm-8">#@Model.ToAccountNumber (@Model.ToTypeLabel)</dd>

                    <dt class="col-sm-4">Amount</dt>
                    <dd class="col-sm-8">@Model.Amount.ToString("C")</dd>

                    @if (!string.IsNullOrWhiteSpace(Model.Comment))
                    {
                        <dt class="col-sm-4">Comment</dt>
                        <dd class="col-sm-8">@Model.Comment</dd>
                    }
                </dl>
            }
        </div>

        <div class="d-flex justify-content-center gap-3 mt-4">
            @if (Model.Type == TxnType.Deposit)
            {
                <form asp-action="CommitDeposit" method="post" class="d-inline">
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(m => m.Type)
                    @Html.HiddenFor(m => m.AccountNumber)
                    @Html.HiddenFor(m => m.Amount)
                    @Html.HiddenFor(m => m.Comment)
                    <button class="btn btn-primary px-4">Confirm</button>
                </form>
            }
            else if (Model.Type == TxnType.Withdraw)
            {
                <form asp-action="CommitWithdraw" method="post" class="d-inline">
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(m => m.Type)
                    @Html.HiddenFor(m => m.AccountNumber)
                    @Html.HiddenFor(m => m.Amount)
                    @Html.HiddenFor(m => m.Comment)
                    <button class="btn btn-primary px-4">Confirm</button>
                </form>
            }
            else
            {
                <form asp-action="CommitTransfer" method="post" class="d-inline">
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(m => m.Type)
                    @Html.HiddenFor(m => m.FromAccountNumber)
                    @Html.HiddenFor(m => m.ToAccountNumber)
                    @Html.HiddenFor(m => m.Amount)
                    @Html.HiddenFor(m => m.Comment)
                    <button class="btn btn-primary px-4">Confirm</button>
                </form>
            }

            <form asp-action="Cancel" method="post" class="d-inline">
                @Html.AntiForgeryToken()
                <button class="btn btn-outline-secondary px-4">Cancel</button>
            </form>
        </div>
    </div>
</div>
